<div class="row">
    <div class="col">
      <div class="myFormContainer">
        <form action="#/" class="myForm box">
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
          <div class="controlBox">
            <div class="plusMinus">
              <a href="#/" class="btn myRadio previewSwap unpress" id="nameMinus" onclick="this.blur()">[-]</a>
              <a href="#/" class="btn myRadio previewSwap unpress" id="namePlus" onclick="this.blur()">[+]</a>
            </div>
            <%if(user.id && (userInfo.name || userInfo.title || userInfo.phone || userInfo.mail || userInfo.discord || userInfo.twitter || userInfo.linkedIn || userInfo.facebook || userInfo.website || userInfo.github || userInfo.city || userInfo.state)){ %>
              <div class="">
                <!-- May need to merge methods? -->
                <select id="ddlViewByName" class="btn myRadio selecto previewSwap unpress" aria-label=".form-select-lg example" onchange="onChangeName()">
                  <option selected>Use Saved Info</option>
                  <%if(userInfo.name) {%> 
                    <option value="<%=userInfo.name%>">Name</option>
                  <%}%>
                  <%if(userInfo.title) {%> 
                    <option value="<%=userInfo.title%>">Title</option>
                  <%}%>
                  <%if(userInfo.phone) {%> 
                    <option value="<%=userInfo.phone%>">Phone</option>
                  <%}%>
                  <%if(userInfo.mail) {%> 
                    <option value="<%=userInfo.mail%>">Email</option>
                  <%}%>
                  <%if(userInfo.discord) {%> 
                    <option value="<%=userInfo.discord%>">Discord</option>
                  <%}%>
                  <%if(userInfo.twitter) {%> 
                    <option value="<%=userInfo.twitter%>">twitter</option>
                  <%}%>
                  <%if(userInfo.linkedIn) {%> 
                    <option value="<%=userInfo.linkedIn%>">linkedIn</option>
                  <%}%>
                  <%if(userInfo.facebook) {%> 
                    <option value="<%=userInfo.facebook%>">facebook</option>
                  <%}%>
                  <%if(userInfo.website) {%> 
                    <option value="<%=userInfo.website%>">website</option>
                  <%}%>
                  <%if(userInfo.github) {%> 
                    <option value="<%=userInfo.github%>">github</option>
                  <%}%>
                  <%if(userInfo.city) {%> 
                    <option value="<%=userInfo.city%>">city</option>
                  <%}%>
                  <%if(userInfo.state) {%> 
                    <option value="<%=userInfo.state%>">state</option>
                  <%}%>
                  <!-- control multi select -->
                  <!-- <script>
                    // let selectName = ''
                    function onChangeName() {
                      let value = document.getElementById('ddlViewByName').value
                      const nameTarget = document.getElementById('name')
                      if(value !== 'Use Saved Info') {
                        nameTarget.value = value
                      } else {
                        nameTarget.value = ''
                      }
                      renderPreview(false)
                    }
                  </script> -->
                  <!--  -->
                </select>
              </div>
            <%}%>

            <div class="justifyControls">
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="nameLeft" onclick="this.blur()">Left</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="nameCenter" onclick="this.blur()">Center</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="nameRight" onclick="this.blur()">Right</a>
            </div>
          </div>
      
          <label for="title">Title</label>
          <input type="text" name="title" id="title">

          <div class="controlBox">
            <div class="plusMinus">
              <a href="#/" class="btn myRadio previewSwap unpress" id="titleMinus" onclick="this.blur()">[-]</a>
              <a href="#/" class="btn myRadio previewSwap unpress" id="titlePlus" onclick="this.blur()">[+]</a>
            </div>

            <%if(user.id && (userInfo.name || userInfo.title || userInfo.phone || userInfo.mail || userInfo.discord || userInfo.twitter || userInfo.linkedIn || userInfo.facebook || userInfo.website || userInfo.github || userInfo.city || userInfo.state)){ %>
              <div class="">
                <!-- <a href="#/" class="btn myRadio primary-text" id="savedNameButton">Use Saved Name</a> -->
                <select id="ddlViewByTitle" class="btn myRadio selecto mb-3 previewSwap unpress" aria-label=".form-select-lg example" onchange="onChangeTitle()">
                  <option selected>Use Saved Info</option>
                  <%if(userInfo.name) {%> 
                    <option value="<%=userInfo.name%>">Name</option>
                  <%}%>
                  <%if(userInfo.title) {%> 
                    <option value="<%=userInfo.title%>">Title</option>
                  <%}%>
                  <%if(userInfo.phone) {%> 
                    <option value="<%=userInfo.phone%>">Phone</option>
                  <%}%>
                  <%if(userInfo.mail) {%> 
                    <option value="<%=userInfo.mail%>">Email</option>
                  <%}%>
                  <%if(userInfo.discord) {%> 
                    <option value="<%=userInfo.discord%>">Discord</option>
                  <%}%>
                  <%if(userInfo.twitter) {%> 
                    <option value="<%=userInfo.twitter%>">twitter</option>
                  <%}%>
                  <%if(userInfo.linkedIn) {%> 
                    <option value="<%=userInfo.linkedIn%>">linkedIn</option>
                  <%}%>
                  <%if(userInfo.facebook) {%> 
                    <option value="<%=userInfo.facebook%>">facebook</option>
                  <%}%>
                  <%if(userInfo.website) {%> 
                    <option value="<%=userInfo.website%>">website</option>
                  <%}%>
                  <%if(userInfo.github) {%> 
                    <option value="<%=userInfo.github%>">github</option>
                  <%}%>
                  <%if(userInfo.city) {%> 
                    <option value="<%=userInfo.city%>">city</option>
                  <%}%>
                  <%if(userInfo.state) {%> 
                    <option value="<%=userInfo.state%>">state</option>
                  <%}%>
                  <!-- control multi select -->
                  <!-- <script>
                    // let selectTitle = ''
                    function onChangeTitle() {
                      let value = document.getElementById('ddlViewByTitle').value
                      const nameTarget = document.getElementById('title')
                      nameTarget.value = value
                      renderPreview(false)
                    }
                  </script> -->
                  <!--  -->
                </select>
              </div>
            <%}%>
            
            <div class="justifyControls">
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="titleLeft" onclick="this.blur()">Left</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="titleCenter" onclick="this.blur()">Center</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="titleRight" onclick="this.blur()">Right</a>
            </div>
          </div>
       
          <label for="phone">Phone</label>
          <input type="text" name="phone" id="phone">
          <div class="controlBox">
            <div class="plusMinus">
              <a href="#/" class="btn myRadio previewSwap unpress" id="phoneMinus" onclick="this.blur()">[-]</a>
              <a href="#/" class="btn myRadio previewSwap unpress" id="phonePlus" onclick="this.blur()">[+]</a>
            </div>
            <%if(user.id && (userInfo.name || userInfo.title || userInfo.phone || userInfo.mail || userInfo.discord || userInfo.twitter || userInfo.linkedIn || userInfo.facebook || userInfo.website || userInfo.github || userInfo.city || userInfo.state)){ %>
              <div class="">
                <!-- <a href="#/" class="btn myRadio primary-text" id="savedNameButton">Use Saved Name</a> -->
                <select id="ddlViewByPhone" class="btn myRadio selecto mb-3 previewSwap unpress" aria-label=".form-select-lg example" onchange="onChangePhone()">
                  <option selected>Use Saved Info</option>
                  <%if(userInfo.name) {%> 
                    <option value="<%=userInfo.name%>">Name</option>
                  <%}%>
                  <%if(userInfo.title) {%> 
                    <option value="<%=userInfo.title%>">Title</option>
                  <%}%>
                  <%if(userInfo.phone) {%> 
                    <option value="<%=userInfo.phone%>">Phone</option>
                  <%}%>
                  <%if(userInfo.mail) {%> 
                    <option value="<%=userInfo.mail%>">Email</option>
                  <%}%>
                  <%if(userInfo.discord) {%> 
                    <option value="<%=userInfo.discord%>">Discord</option>
                  <%}%>
                  <%if(userInfo.twitter) {%> 
                    <option value="<%=userInfo.twitter%>">twitter</option>
                  <%}%>
                  <%if(userInfo.linkedIn) {%> 
                    <option value="<%=userInfo.linkedIn%>">linkedIn</option>
                  <%}%>
                  <%if(userInfo.facebook) {%> 
                    <option value="<%=userInfo.facebook%>">facebook</option>
                  <%}%>
                  <%if(userInfo.website) {%> 
                    <option value="<%=userInfo.website%>">website</option>
                  <%}%>
                  <%if(userInfo.github) {%> 
                    <option value="<%=userInfo.github%>">github</option>
                  <%}%>
                  <%if(userInfo.city) {%> 
                    <option value="<%=userInfo.city%>">city</option>
                  <%}%>
                  <%if(userInfo.state) {%> 
                    <option value="<%=userInfo.state%>">state</option>
                  <%}%>
                  <!-- control multi select -->
                  <!-- <script>
                    // let selectName = ''
                    function onChangePhone() {
                      let value = document.getElementById('ddlViewByPhone').value
                      const nameTarget = document.getElementById('phone')
                      if(value !== 'Use Saved Info') {
                        nameTarget.value = value
                      } else {
                        nameTarget.value = ''
                      }
                      renderPreview(false)
                    }
                  </script> -->
                  <!--  -->
                </select>
              </div>
            <%}%>
            <div class="justifyControls">
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="phoneLeft" onclick="this.blur()">Left</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="phoneCenter" onclick="this.blur()">Center</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="phoneRight" onclick="this.blur()">Right</a>
            </div>
          </div>

          <label for="email">Email</label>
          <input type="text" name="email" id="email">
          <div class="controlBox">
            <div class="plusMinus">
              <a href="#/" class="btn myRadio previewSwap unpress" id="emailMinus" onclick="this.blur()">[-]</a>
              <a href="#/" class="btn myRadio previewSwap unpress" id="emailPlus" onclick="this.blur()">[+]</a>
            </div>
            <%if(user.id && (userInfo.name || userInfo.title || userInfo.phone || userInfo.mail || userInfo.discord || userInfo.twitter || userInfo.linkedIn || userInfo.facebook || userInfo.website || userInfo.github || userInfo.city || userInfo.state)){ %>
              <div class="">
                <!-- <a href="#/" class="btn myRadio primary-text" id="savedNameButton">Use Saved Name</a> -->
                <select id="ddlViewByEmail" class="btn myRadio selecto mb-3 previewSwap unpress" aria-label=".form-select-lg example" onchange="onChangeEmail()">
                  <option selected>Use Saved Info</option>
                  <%if(userInfo.name) {%> 
                    <option value="<%=userInfo.name%>">Name</option>
                  <%}%>
                  <%if(userInfo.title) {%> 
                    <option value="<%=userInfo.title%>">Title</option>
                  <%}%>
                  <%if(userInfo.phone) {%> 
                    <option value="<%=userInfo.phone%>">Phone</option>
                  <%}%>
                  <%if(userInfo.mail) {%> 
                    <option value="<%=userInfo.mail%>">Email</option>
                  <%}%>
                  <%if(userInfo.discord) {%> 
                    <option value="<%=userInfo.discord%>">Discord</option>
                  <%}%>
                  <%if(userInfo.twitter) {%> 
                    <option value="<%=userInfo.twitter%>">twitter</option>
                  <%}%>
                  <%if(userInfo.linkedIn) {%> 
                    <option value="<%=userInfo.linkedIn%>">linkedIn</option>
                  <%}%>
                  <%if(userInfo.facebook) {%> 
                    <option value="<%=userInfo.facebook%>">facebook</option>
                  <%}%>
                  <%if(userInfo.website) {%> 
                    <option value="<%=userInfo.website%>">website</option>
                  <%}%>
                  <%if(userInfo.github) {%> 
                    <option value="<%=userInfo.github%>">github</option>
                  <%}%>
                  <%if(userInfo.city) {%> 
                    <option value="<%=userInfo.city%>">city</option>
                  <%}%>
                  <%if(userInfo.state) {%> 
                    <option value="<%=userInfo.state%>">state</option>
                  <%}%>
                  <!-- control multi select -->
                  <!-- <script>
                    // let selectName = ''
                    function onChangeEmail() {
                      let value = document.getElementById('ddlViewByEmail').value
                      const nameTarget = document.getElementById('email')
                      if(value !== 'Use Saved Info') {
                        nameTarget.value = value
                      } else {
                        nameTarget.value = ''
                      }
                      renderPreview(false)
                    }
                  </script> -->
                  <!--  -->
                </select>
              </div>
            <%}%>
            <div class="justifyControls">
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="emailLeft" onclick="this.blur()">Left</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="emailCenter" onclick="this.blur()">Center</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="emailRight" onclick="this.blur()">Right</a>
            </div>
          </div>
          

          

          <a href="#/" class="btn box myRadio selecto mb-3 previewSwap unpress" id="preview" onclick="this.blur()"><bold>Preview</bold></a>
        </form>
        <div id="shareDiv" class="box">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="share" id="share">
            <label class="form-check-label" for="share">Publicly Viewable?</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col canvasPreview myForm">
      <canvas class="myFormContainer2 sticky" id="myCanvas" width="1050" height="600"></canvas>
      <div class="canvasControls">
        <!-- <a href="#/" class="btn myRadio primary-text previewSwap box btnCorrecto" id="downloadLowRes">Download Low Res.</a>
        <a href="#/" class="btn myRadio primary-text previewSwap box btnCorrecto" id="downloadHighRes">Download High Res.</a> -->

        <button type="button" class="btn myRadio primary-text previewSwap box btnCorrecto z90 unpress" id="downloadLowRes" type="button" onclick="this.blur()">Download Low Res.</button>
        <button type="button" class="btn myRadio primary-text previewSwap box btnCorrecto z90 unpress" id="downloadHighRes" type="button" onclick="this.blur()">Download High Res.</button>
        <button type="button" class="btn myRadio primary-text previewSwap box btnCorrecto z90 unpress" id="saveKairde" type="button" onclick="this.blur()">Save to My Account</button>
        <!-- </form> -->
      </div>
    </div>
  </div>
  <div id="imgTarget"></div>
  <script src="../js/contactKairdeScripts.js"></script>
  <script src="../js/contactKairde.js"></script>
  <script src="../js/index.js"></script>
  <!-- <script src="../js/press.js"></script> -->