<%- include('partials/header') -%>
<div>
  <main class="container dynamic-container hideMeCookieMonster">
    <div class="row justify-content-center">
      <section class="col-6 mt-5">
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div class="alert alert-info"><%= el.msg %></div>
        <% }) %> <% } %>
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="email"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              name="password"
            />
          </div>
          <button type="submit" class="btn myRadio previewSwap unpress" onclick="this.blur()">Submit</button>
          <a class="btn myRadio previewSwap unpress" href="/profile" onclick="this.blur()">Cancel</a>
        </form>
      </section>
    </div>
  </main>
</div>

<%- include('partials/cookieDisclaimer')%>
<%- include('partials/footer') -%>
<script>
  let refresh = false
  const checkCookiesLogin = window.localStorage.getItem('cookies');
  const hideMe = document.querySelector('.hideMeCookieMonster')
  if (checkCookiesLogin && checkCookiesLogin !== 'deny') {
    hideMe.style.display = 'block'
  } else {
    window.location.replace('/')
  }
  
</script>
