<%- include('partials/header') -%>

<div class="container dynamic-container dynamic-center">
  <div class="row justify-content-center bigImg widthAdj">
    <div class="col-12 centering">
      
        <!-- <a class="btn btn-primary" href="/profile">Home</a>
        <a class="btn btn-secondary" href="/feed">My Kairdes</a> -->
        <h2 id="h2Name"><%= post.title %></h2>
   
      <img class="boxG imageView" src="<%=post.image%>" id="postImage"/>
      <!-- <a class="button" href="<%=post.image%>" download="<%=post.title%>.png">Download image</a> -->
      <!-- <a href="<%=post.image%>" download="post.title">Download</a> -->
    
      <div class="row buttonControlPost box-small" style="display: flex; flex-direction: row; justify-content: center; align-items: center; text-align: center;">
        <button class="btn myRadio primary-text previewSwap box btnCorrecto lineBtn lineBtn2" type="button" onclick="forceDown()">Download</button>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3 lineBtn trashMatch"
        >
          <button class="btn myRadio primary-text previewSwap box btnCorrecto fa fa-trash box trashCorrecto" type="submit"></button>
        </form>
        <%}%>
      </div>

      
    </div>
    <div class="mt-5 wrapper  commentWrapper">
      <h2 class="marginR">Notes </h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST" class="categoryForm justify-content-center mLeft">
        <input type="text" class="form-control" id="comment" name="comment" style="max-width: 70%; margin-right: 0.3%;">
        <button type="submit" class="btn myRadio primary-text previewSwap box btnCorrecto">Save</button>
      </form>
      <div class="commentULHolder noShrink">
        <ul class="no-list-style correctoAligno noShrink">
          <% for(var i=0; i<comments.length; i++) {%>
            <li class="col-6 box my-box-background correctoAligno2 liComment noShrink">
              <p class="commentText">
                <%= comments[i].comment%>
              </p>
              <%if(post.user == user.id){ %>
                <form
                  action="/comment/deleteComment/<%=comments[i]._id%>?_method=DELETE"
                  method="POST"
                  class="col-3 trashCorrecto3 smallTrash"
                >
                  <input type="text" name="post" style="display: none" value="<%=comments[i].post%>">
                  <button class="btn myRadio primary-text previewSwap box btnCorrecto fa fa-trash box trashCorrecto2" type="submit"></button>
                </form>
                <%}%>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
    
    
    <!-- <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div> -->
  </div>
</div>
<script src="../js/postJS.js"></script>
<%- include('partials/cookieDisclaimer')%>
<%- include('partials/footer') -%>