<%- include('partials/header') -%>
<div class="wbg-container">
  <div class="wbg">
    <img id="postImage" class="wbg-image" src="<%= post.image%>" alt="image of kairde (card) that grows in size on hover and focus/selection"/>
    <h2 id="h2Name"><%= post.title %></h2>
    <button class="btn myRadio primary-text previewSwap box btnCorrecto lineBtn lineBtn2 unpress" type="button" onclick="forceDown(); this.blur();">Download</button>
  </div>
</div>

<div class="register-cookies dynamic-container register-banner mtopper" id="needCookiesBanner">
  <h2>To make your own Kairde, or save this one, accept cookies to login or register</h2>
  <!-- <a href="#/" class="nav-item active navButton nav-item-push previewSwap" id="cookiesDisclaimerButton"><i class="fa-solid fa-cookie"></i> ?</a> -->
</div>
<div class="dynamic-container" id="registerBanner" style="display: none;">
  <h2>Want to make your own Kairde?</h2>
  <div class="innerBannerArea">
    <%- include('partials/registerButton')%>
    <div class="bannerSpan">/</div>
    <%- include('partials/loginButton') %>
  </div>
</div>

<%- include('partials/cookieDisclaimer')%>
<script src="../js/postJS.js"></script>
<script src="../js/banner.js"></script>
<%- include('partials/footer') -%>
