<%- include('partials/header') -%>
<div class="container dynamic-container" style="margin-bottom: 4%;">
    <h1>Make Kairde</h1>
    <%- include('partials/cookieDisclaimer')%>
    <!-- <h1><%=tool%> Kairde</h1> -->
    <%if (tool === 'contact') {%>
        <%- include('partials/contactKairde') %>
    <%} else if  (tool === 'bio') { %>
        <%- include('partials/bioKairde') %>
    <%} else if  (tool === 'resume') { %>
        <%- include('partials/resumeKairde') %>
    <%} else {%>
        <%- include('partials/profileView') %>
    <%} %>
</div>

<%- include('partials/spinner')%>
<%- include('partials/footer') -%>